
.history
{
  margin-top: 20px;
  display: inline-flex;
  background-color:rgb(218, 218, 218);
  width: 100%;
}

.history img 
{
  width: 100px;
  border: 1px solid orange;
  display: inline-flex;
}

.history div 
{
  margin-left: 10px;
   
 
}

.history button
{
  margin-left: 20px;
 
}

.history .clock 
{
  color:red;
  
  
}

.history div div
{
  display: inline-flex;
   
 
}

 .buttActive
{
  border: 2px solid orange;
   
 
}

 .buttPass
{

  border: 2px solid gray;
 
}