.App {
  display: grid;
  grid-template-areas: 
  "headS headS"
  "columLeft mainCont";
  grid-template-rows: 150px 6fr;
  grid-template-columns: 1fr 12fr;
  grid-gap: 3px;
 
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul li {
  list-style-type: circle;
}

.headS {
  grid-area: headS;
   width: auto;

  background-color: rgb(112, 110, 110);

}
.headS .mainIMG {
  width: 100px;
  animation: App-logo-spin infinite 20s linear;
}

.headS .pap {
  text-align: center;
  display: inline;
  margin-left: 40%;
   font-size: calc(10px + 2vmin);
  
}
.headS .login{

  float:right;
  margin-right:100px;
  margin-top:20px;
}

.columLeft
{
  grid-area: columLeft;
  background-color: rgb(151, 151, 151);
  
}

.mainCont
{
  grid-area: mainCont;
}



